.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
  padding: var(--gutter);
  height: 100%;
}

.overlay {
  position: absolute;
  top: -1%;
  left: -1%;
  width: 102%;
  height: 102%;
  background-color: var(--bg-color);
}

.text-container {
  overflow: hidden;
}

.btn {
  height: 52px;
  text-wrap: nowrap;
  padding: 0 20px;
  background-color: var(--white-color);
  font-family: var(--ff-mm);
  &.btn-link {
    background-color: transparent;
    height: fit-content;
    padding: 0;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

*:has(> .overlay) {
  overflow: hidden;
  position: relative;
}
