:root {
  --max-width-page: 1920px;
  --max-height-page: 976px;
  --max-width-container: calc(1180px + var(--pd-container) * 2);
  --pd-container: 50px;
  --gutter: 20px;
  --header-height: 100px;
  --padding-section: 80px;
  --bg-color: #f9f6ec;
  --bg-color-2: #f5f0e0;
  --text-color: #000000;
  --white-color: #ffffff;
  --emphasize-color: #cbcbbf;
  --emphasize-color-2: #535f50;
  --ff-ir: "ir";
  --ff-im: "im";
  --ff-ib: "ib";
  --ff-isb: "isb";
  --ff-pb: "pb";
  --ff-pr: "pr";
  --ff-pm: "pm";
  --ff-psb: "psb";
  --ff-it: "it";
  /* Typography Scale */
  --fs-emphasize: calc(var(--fs-h1) * 3);
  --fs-h1: 7.8rem; /* Main heading */
  --fs-h1-md: 7.2rem; /* Main heading */
  --fs-h1-sm: 6.4rem; /* Main heading */
  --fs-h2: 5.2rem; /* Secondary heading (2/3 of h1) */
  --fs-h2-sm: 4rem; /* Secondary heading (2/3 of h1) */
  --fs-h3: 3.9rem; /* Tertiary heading (1/2 of h1) */
  --fs-h4: 2.6rem; /* Fourth level heading (1/3 of h1) */
  --fs-h5: 2rem; /* Fifth level heading (1.25x body) */
  --fs-h6: 1.8rem; /* Sixth level heading (1.125x body) */
  --fs-subtitle: 2.4rem; /* Subtitle text (1.5x body) */
  --fs-body: 1.6rem; /* Body text */
  --fs-small: 1.4rem; /* Small text (0.875x body) */
  --fs-xs: 1.2rem; /* Extra small text (0.75x body) */
}
