.footer {
  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gutter);
    &-left {
      font-size: var(--fs-h1-md);
      font-family: var(--ff-pr);
      color: var(--emphasize-color-2);
      max-width: 70%;
      flex-shrink: 0;
    }
    &-right {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      gap: calc(var(--gutter) * 2);
      width: 100%;
      .sitemap {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &__item {
          &.--group {
            color: var(--emphasize-color);
            text-transform: uppercase;
          }
        }
      }
      .contact {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &__group {
          &-label {
            font-family: var(--ff-pr);
            color: var(--emphasize-color);
            text-transform: uppercase;
          }
          &-info {
            display: block;
            margin-top: 16px;
          }
        }
      }
    }
  }
  &__bottom {
    margin-top: 64px;
    font-size: var(--fs-small);
  }
}
