.scapproach {
  &__top {
    &-content {
      .title {
        font-size: var(--fs-h1);
        font-family: var(--ff-pr);
      }
      .para {
        margin-top: 8px;
      }
    }
    &-thumbnail {
      margin-top: 64px;
      width: 100%;
      height: 100%;
      max-height: 700px;
      overflow: hidden;
    }
  }
  &__middle {
    margin-top: var(--padding-section);
    background-color: var(--bg-color-2);
    padding: var(--gutter);
    &-thumbnail {
      width: 100%;
      height: 100%;
      max-height: 700px;
      overflow: hidden;
      &:last-of-type {
        max-height: 1538px;
      }
    }
    &-content {
      font-size: var(--fs-h3);
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
  &__bottom {
    margin-top: var(--padding-section);
    &-item {
      padding-top: 32px;
      padding-bottom: 32px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--gutter);
      &:first-of-type {
        border-bottom: 1px solid var(--emphasize-color);
      }
      .num {
        font-size: var(--fs-emphasize);
        font-family: var(--ff-pr);
        color: var(--emphasize-color);
        font-style: italic;
        line-height: 1;
        flex: 1;
      }
      .content {
        max-width: 40%;
        flex: 1;
        &__title {
          font-size: var(--fs-h2-sm);
          font-family: var(--ff-pr);
          font-style: italic;
          text-transform: uppercase;
        }
        &__para {
          margin-top: 16px;
        }
        &__img {
          margin-top: 16px;
          max-height: 300px;
          overflow: hidden;
        }
      }
    }
  }
}
