.sccontact {
  .sccontact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gutter);
    padding-top: 82px;
    padding-bottom: 82px;
    border-top: 1px solid var(--emphasize-color);
    border-bottom: 1px solid var(--emphasize-color);
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gutter);
    width: 100%;
    &-title {
      font-size: var(--fs-h1-sm);
      font-family: var(--ff-psb);
    }
    .btn-link {
      font-size: var(--fs-subtitle);
    }
  }
}
